body{
  margin-top: 10%;
  -webkit-animation: bgcolor 20s infinite;
  animation: bgcolor 10s infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}

h2{
  text-align: center;
}

.login{
  top: 3rem;
  align-content: center;
  font-size: 2rem;
}

.container{
  align-items: center;
  width: 30%;
  height: 90%;
}

.forgot {
  position: relative;
  align-items: flex-end;
  text-decoration-line: none !important;
  text-align: right;

}

.button{
  align-items: flex-end;
  width: 100%;
  -webkit-animation: bgcolor 20s infinite;
  animation: bgcolor 10s infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}
